:root {
    --primary-color: #858dfb !important;
    --primary-color-text: #ffffff !important;
    --p-primary-50: #eef2ff !important;
    --p-primary-100: #e0e7ff !important;
    --p-primary-200: #c7d2fe !important;
    --p-primary-300: #a5b4fc !important;
    --p-primary-400: #818cf8 !important;
    --p-primary-500: #6366f1 !important;
    --p-primary-600: #4f46e5 !important;
    --p-primary-700: #4338ca !important;
    --p-primary-800: #3730a3 !important;
    --p-primary-900: #312e81 !important;
    --p-primary-950: #1e1b4b !important;

    --p-select-focus-border-color: #262626 !important;
    --p-multiselect-focus-border-color: #262626 !important;
    
}

.p-fileupload .p-button {
    background: black;
    border: solid 1px white;
}

/* hover state */
.p-fileupload:hover .p-button:hover {
    background: #333;
    border-color: #333;
}

.p-editor-toolbar {
    display: none;
}

/* .p-inputtext:enabled:focus {
    border-color: #262626 !important;
} */

.select.focus.border.color{
    border-color: #262626 !important;
}

.p-tabpanels{
    min-height: 600px;
}

.p-fieldset{
    background-color: rgb(243 244 246) ;
}
.p-fieldset-legend{
    border: solid 1px rgb(229 231 235);
}