/* Local Fonts */
@layer base {
            /* Amulaya Font */
    @font-face {
        font-family: "amulya";
        font-weight: 200;
        src: url("../../public/fonts/amulya/Amulya-Light.otf") format('truetype');
    }

    @font-face {
        font-family: "amulya";
        font-weight: 400;
        src: url("../../public/fonts/amulya/Amulya-Medium.otf") format('truetype');
    }

    @font-face {
        font-family: "amulya";
        font-weight: 600;
        src: url("../../public/fonts/amulya/Amulya-Regular.otf") format('truetype');
    }

    @font-face {
        font-family: "amulya";
        font-weight: 800;
        src: url("../../public/fonts/amulya/Amulya-Bold.otf") format('truetype');
    }

    /* Synonym Font */
    @font-face {
        font-family: "synonym";
        font-weight: 100;
        src: url("../../public/fonts/synonym/Synonym-Extralight.otf") format('truetype');
    }
    @font-face {
        font-family: "synonym";
        font-weight: 200;
        src: url("../../public/fonts/synonym/Synonym-Light.otf") format('truetype');
    }

    @font-face {
        font-family: "synonym";
        font-weight: 300;
        src: url("../../public/fonts/synonym/Synonym-Medium.otf") format('truetype');
    }

    @font-face {
        font-family: "synonym";
        font-weight: 400;
        src: url("../../public/fonts/synonym/Synonym-Regular.otf") format('truetype');
    }

    @font-face {
        font-family: "synonym";
        font-weight: 600;
        src: url("../../public/fonts/synonym/Synonym-Semibold.otf") format('truetype');
    }
    @font-face {
        font-family: "synonym";
        font-weight: 800;
        src: url("../../public/fonts/synonym/Synonym-Bold.otf") format('truetype');
    }
    
    
}

/* Force light mode styles */
:root {
    color-scheme: light;
}

/* Override any dark mode styles */
.dark,
[data-theme="dark"] {
    color-scheme: light !important;
    /* Add any other overrides needed */
}


@tailwind base;
@tailwind components;
@tailwind utilities;